
<div class="parallax4">
  <br><br><br><br><br>
  <div class="col-xs-4 ftwhite"></div>
  <div class="col-xs-4 inline">
    <br><br><br>
    <h1 style= "font-size: -webkit-xxx-large; color: white;"><strong>Our Community Story</strong></h1>
   <h3 style= "color: white;"> heartwarm stories, new friendship built through our platform</h3>
   <h3 style="color: white;"> new story every week</h3>
  </div>
  <div class="col-xs-4"></div>
  <br><br><br>
  <div class = "col-xs-6">
    <a class="btn btn-primary btn-lg center pull-right" href="http://www.anakyatimttdi.com.my/">This week's Charity</a>
  </div>
  <div class = "col-xs-6"></div>
  <div class = "col-xs-6"></div>
  <div class = "col-xs-6">
    <a class="btn btn-primary btn-lg center" href="http://www.tedboy.com/home">This week's Supporter</a>
  </div>
</div>



<!-- white scroll -->

<div style="height:300px;background-color:rgba(192,192,192,0.6);font-size:36px">
  <div class= "col-xs-6 sminline vrtline">
    <br>
    <i class="fa fa-pagelines fa-2x" aria-hidden="true"></i>
     <p>Tedboy bakery delivered 30 loafs of breads this week</p>
  </div>
  <div class= "col-xs-4 sminline"> 
    <br>
    <i class="fa fa-gratipay fa-2x" aria-hidden="true"></i>
    <p>10 children of Yayasan Anak-Anak Yatim orphanage enjoyed the meal</p>
  </div>
</div>


<!-- first parallax -->


<div class="parallax5">
 <!--  <h1 class= "jsfont pull-right" style="font-size: -webkit-xxx-large; color: white;"><strong>Because every smile matters...</strong></h1> -->
<!-- <br><br><br>
  <p class="jsfont" style="color:white;">Photo Credit: Mi Pham on Unsplash</p> -->
  <h3 class="inline" style ="color:white;"><strong>Tedboy Bakery</strong></h3>


</div>


<div style="height:400px;background-color:rgba(192,192,192,0.6);font-size:36px">
  <br>
  <div class = 'col-xs-6'>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/kNPbfW_29Lk" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class = 'col-xs-6 txtcntr'>
   <h3>Tedboy bakery has joined the community since November 2017.Baker Mike and Jenny from Tedboy was delighted to see so many smiles this week. They decided to join the community, because they hope to contribute back. Baker Jenny, especially enjoyed visiting Yayasan personally to see her new tiny best friend Felicia.</h3>

  </div>
</div>




<div class="parallax6"></div>



<div style="height:400px;background-color:white;font-size:36px">
<br>
<div class="col-xs-12 inline" style= "font-size: -webkit-xxx-large;"> Have a story to share with us?</div>
<p class= "jsfont"> You have contributed to community through our platform. That's great! Send us an email if you would like to share your story. We will get back to you as soon as possible!</p>
<hr>
 
  <div class="col-xs-6 sminline">
    <div>
    <i class="fa fa-phone fa-2x left" aria-hidden="true"></i>
    <p class="jsfont"><strong>+60-18-314-7983</strong></p>
    </div>
  </div>
  <div class="col-xs-6 sminline"><i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i>
    <br>
    <p class="jsfont"><strong>foodloveshareproject@gmail.com</strong></p>
  </div>



</div>




</div>

