

<!-- picture1 -->

<div class="parallax">
  <br><br><br><br><br>
  <div class="col-xs-4 ftwhite"></div>
  <div class="col-xs-4 inline">
    <br><br><br>
    <h1 style= "font-size: -webkit-xxx-large; color: white;"><strong>SHARING IS CARING</strong></h1>
   <h3 style= "color: white;"> Play a part in reducing food waste </h3>
  </div>
  <div class="col-xs-4"></div>
  <br><br><br>
  <div class = "col-xs-6">
    <a class="btn btn-primary btn-lg center pull-right" href="/charities/new">Charity</a>
  </div>
  <div class = "col-xs-6"></div>
  <div class = "col-xs-6"></div>
  <div class = "col-xs-6">
    <a class="btn btn-primary btn-lg center" href="/supporters/new">Supporter</a>
  </div>
</div>



<!-- white scroll -->

<div style="height:300px;background-color:rgba(192,192,192,0.6);font-size:36px">
  <div class= "col-xs-4 sminline"> 
      <br>
      <i class="fa fa-cutlery fa-2x" aria-hidden="true"></i>
      <p>Reduce Food Waste</p>
      <p>We produce 3000 tonnes avoidable food waste per day</p>
  </div>
  <div class= "col-xs-4 sminline">
    <br>
    <i class="fa fa-pagelines fa-2x" aria-hidden="true"></i>
     <p>Help Others</p>
     <p>This amount can feed 2 million people</p>
  </div>
  <div class= "col-xs-4 sminline"> 
    <br>
    <i class="fa fa-gratipay fa-2x" aria-hidden="true"></i>
    <p>Build Community</p>
    <p>We envision to connect 30 supporters to charities</p>
  </div>
</div>


<!-- first parallax -->


<div class="parallax2">
 <!--  <h1 class= "jsfont pull-right" style="font-size: -webkit-xxx-large; color: white;"><strong>Because every smile matters...</strong></h1> -->
<!-- <br><br><br>
  <p class="jsfont" style="color:white;">Photo Credit: Mi Pham on Unsplash</p> -->
</div>



<div style="height:400px;background-color:rgba(192,192,192,0.6);font-size:36px">
  <br>
  <div class="col-xs-1"></div>
  <div class="col-xs-5">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/6RlxySFrkIM" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="col-xs-5">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/i8xwLWb0lLY" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="col-xs-1"></div>
</div>




<div class="parallax3"></div>

<div style="height:400px;background-color:white;font-size:36px">
<br>
<div class="col-xs-12 inline" style= "font-size: -webkit-xxx-large;">Let's Get in Touch!</div>
<p class= "jsfont">Ready to build a community together? That's great! Send us an email if you have any questions. We will get back to you as soon as possible!</p>
<hr>
 
  <div class="col-xs-6 sminline">
    <div>
    <i class="fa fa-phone fa-2x left" aria-hidden="true"></i>
    <p class="jsfont"><strong>+60-18-314-7983</strong></p>
    </div>
  </div>
  <div class="col-xs-6 sminline"><i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i>
    <br>
    <p class="jsfont"><strong>foodloveshareproject@gmail.com</strong></p>
  </div>



</div>



