<h1>community story </h1>


<p> PR page for our donors; what they care a</p>



  <div class="col-md-4 col-xs-12 col-sm-6 col-lg-4">
    <% if @supporter.photos.length > 0 %>
     <%= link_to (image_tag @supporter.photos[0].small.url,:class =>"img-circle",:id =>"profile-image1") %>
    <% end %>
  </div>





Tell us your story!

