<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New food is posting from <%= @supporter %></h1>
    <p>
      
      You can see details of new post here: <%= @post.title %>

    </p>
  </body>
</html>