<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New food is posting from <%= @supporter %></h1>
    <p>You can see details of new post <a href="http://localhost:3000/?direction=desc&sort=id">here</a>
    </p>
  </body>
</html>