<p>This is a new delivery page</p>
<p>When creating a delivery, we show charity user the food that they wanted</p>


<div class="container">
  <h2>You're almost there...</h2>
  <p>These are the food items that you have picked:</p>            
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Food item</th>
        <th>Quantity</th>
        <th>Location</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Apple</td>
        <td>5kg</td>
        <td>Bandar Utama</td>
        <td><a href="#">
          <span class="glyphicon glyphicon-minus-sign"></span>
        </a>
        </td>
      </tr>
      <tr>
        <td>Bread</td>
        <td>60 loves</td>
        <td>Petaling Jaya</td>
         <td><a href="#">
          <span class="glyphicon glyphicon-minus-sign"></span>
        </a>
        </td>
      </tr>
      <tr>
        <td>Potatoes</td>
        <td>100kg</td>
        <td>Bandar Utama</td>
         <td><a href="#">
          <span class="glyphicon glyphicon-minus-sign"></span>
        </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>

have a datepicker and timepicker<br>


<%= link_to 'Confirm', "/deliveries/ #{@delivery.id}/ confirm" , method: :get %>