

Order <br>


<%= form_for @order, url: root_path, method: :get do |form| %>

<div>
  <%= form.label :collection_time %>
  <%= form.date_field :collection_time %>
</div>

<div>
  <%= form.submit "Order" %>
</div>

<% end %>