<h2>you have confirmed to pick this item on <%= order.collection_date %> at <%= order.collection_time %></h2>
<h2>We will send you an email shortly with the address and contact of your supporter.</h2>

