<div>
	<h3>Update your account details</h3>
	<%= form_for @charity do |form| %>
	<%= render partial: '/charities/form', object: form %>
	<%= form.submit "Confirm" %>
	<% end %>
</div>


<br>
<br>
<%= link_to "Back", charity_path(@charity) %>

