

<p>Edit informations</p>
<%= form_for @charity do |form| %>
<%= render partial: "form", locals: {form: form} %>

  <div>
    <%= form.submit "Update" %>
  </div>
<% end %>


<br>
<br>
<%= link_to "Back", charity_path(@charity) %>

