


<% if current_user.orders.empty? %> 

  <h3>We are here to support you!</h3>

<% else %> 

  <% current_user.orders.order(created_at: :desc).each do |x| %> 
    <div>
      <br>Title: <%= x.post.title %><br>
      <br>Ordered date: <%= x.created_at %><br>
      <br>Collection date/time: <%= x.collection_date %>/<%= x.collection_time %><br>
    </div>
  <% end %> 

<% end %> 


