
profiles upate 

<p>Edit informations</p>


<%= form_for @supporter do |form| %>

<%= render partial: "form", locals: {form: form} %>


<div>
  <%= form.submit "Update" %>
</div>

<% end %>


<br>
<br>
<%= link_to "Back", supporter_path(@supporter) %>

