<div>
	<h3>Update your account details</h3>
	<%= form_for @supporter do |form| %>
	<%= render partial: '/supporters/form', object: form %>
	<%= form.submit "Confirm" %>
	<% end %>
</div>


<br>
<br>
<%= link_to "Back", supporter_path(@supporter) %>

